/* Main/Wrapper */

body {
  font-family: Poppins, sans-serif;
  letter-spacing: 0.03em;

  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fafbff;

  @media screen and (min-width: 992px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

/* Header */

.header {
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);

  @media screen and (min-width: 768px) and (max-width: 991px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }

  @media screen and (min-width: 992px) {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

    width: 306px;
    height: 1198px;
  }
}

.header--block {
  display: flex;

  padding: 0;
  margin: 0;

  @media screen and (min-width: 768px) and (max-width: 991px) {
    width: 350px;
    justify-content: space-between;
  }

  @media screen and (min-width: 992px) {
    display: block;
    margin-top: 36px;
    margin-left: 28px;
    margin-right: 28px;
  }
}

.header__title {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.header__title__text {
  display: flex;
  align-items: baseline;
}

.header__title__icon {
  width: 24px;
  height: 24px;

  @media screen and (min-width: 992px) {
    width: 37px;
    height: 37px;
  }
}

.header__title__text--big {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;

  margin-right: 4px;
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (min-width: 992px) {
    font-size: 26px;
  }
}

.header__title__text--small {
  color: #838383;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.1px;

  margin: 0;
}

.header-list {
  display: none;

  @media screen and (min-width: 992px) {
    display: block;
    padding: 0;
    margin: 0;
  }
}

.header-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 200px;
  height: 36px;

  margin-top: 20px;

  &:hover,
  &:focus,
  &:active {
    border-radius: 8px;
    background: #5932ea;

    .header-list__svg,
    .header-list__svg--right {
      --color1: #ffffff;
      --color2: #ffffff;
    }

    .header-list__link {
      color: white;
    }
  }

  @media screen and (min-width: 992px) {
    max-width: 250px;
    height: 46px;

    margin-top: 29px;
  }
}

.header-list__item--left {
  display: flex;
  align-items: center;

  margin-left: 10px;
  margin-right: 50px;

  @media screen and (min-width: 992px) {
    margin-right: 100px;
  }
}

.header-list__item .header-list__svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;

  --color1: #9197b3;
  fill: #9197b3;
  color: #9197b3;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.header-list__link {
  text-decoration: none;
  color: #9197b3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}

.header-list__svg--right {
  width: 12px;
  height: 12px;

  margin-right: 10px;

  @media screen and (min-width: 992px) {
    width: 16px;
    height: 16px;

    margin-right: 4px;
  }
}

.navigation-mini {
  position: absolute;
  top: 100%;
  left: 5px;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
}

.header-list__svg--open,
.header-list__svg--close {
  fill: #9197b3;

  width: 36px;
  height: 36px;

  &:hover,
  &:focus,
  &:active {
    fill: #5932ea;
  }
}

#listContainer {
  display: none;
  padding: 0;
}

#closeListButton {
  display: none;
}

#toggleListButton {
  @media screen and (min-width: 992px) {
    display: none;
  }
}

.button {
  all: unset;
  cursor: pointer;
}

.user {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 991px) {
    display: flex;
    align-items: start;
    justify-content: baseline;

    margin-right: 200px;
  }

  @media screen and (min-width: 992px) {
    display: flex;
    align-items: start;
    justify-content: baseline;

    margin-left: 28px;
    margin-bottom: 76px;
  }
}

.user__user-data {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.user__user-avatar img {
  border-radius: 50px;
  margin-right: 12px;
}

.user__user-data--bold {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
  margin: 0;
}

.user__user-data--small {
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 992px) {
    margin-left: 71px;
    padding: 0;
  }
}

.container__title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin: 0;
  padding-top: 41px;

  @media screen and (min-width: 992px) {
    font-size: 24px;
  }
}

.wrapper {
  overflow-x: auto;
  background-color: #fff;

  @media screen and (min-width: 992px) {
    width: 968px;
    height: 812px;

    margin-top: 51px;
    padding: 0px 40px 0px 40px;
  }
}

.wrapper--top {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;

  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 992px) {
    display: block;
    padding: 0;
  }
}

.wrapper__title {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.22px;

  margin: 0;
  margin-right: 30px;

  @media screen and (min-width: 992px) {
    font-size: 22px;
    margin-top: 30px;
  }
}

.wrapper__subtitle {
  color: #16c098;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;

  margin: 0;

  @media screen and (min-width: 992px) {
    font-size: 14px;
    margin-top: 7px;
  }
}

.search-wrapper {
  position: relative;
  bottom: 1px;

  @media screen and (min-width: 992px) {
    display: flex;
    justify-content: flex-end;

    margin-right: 53px;
    bottom: 40px;
  }
}

.search-wrapper__input {
  position: relative;
  width: 150px;
  height: 25px;
  box-sizing: border-box;
  padding-left: 5px;
  background-color: #f9fbff;
  border: 1px solid #e7e7e7;
  border-radius: 10px;

  color: #b5b7c0;

  &::placeholder {
    color: #b5b7c0;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.12px;
  }

  @media screen and (min-width: 992px) {
    width: 216px;
    height: 38px;
    padding-left: 40px;

    &::placeholder {
      font-size: 12px;
    }
  }
}

.search-wrapper__button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;

  position: absolute;
  top: 63%;
  left: 125px;
  transform: translateY(-50%);

  @media screen and (min-width: 992px) {
    top: 50%;
    left: 710px;
    transform: translateY(-50%);
  }
}

.search-wrapper__svg {
  width: 16px;
  height: 16px;

  @media screen and (min-width: 992px) {
    width: 24px;
    height: 24px;
  }
}

/* Table */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__row.table__row--name {
  position: relative;
}

.table__row.table__row--name:after {
  content: "";
  display: block;
  height: 1px;
  background-color: #eee;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 992px) {
  .table__row.table__row--name:after {
    width: calc(100% + 80px);
  }
}

.table__row--user {
  border-bottom: 1px solid #eee;
}

.table__cell {
  padding: 10px;
  text-align: left;
  white-space: nowrap;

  color: #292d32;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;

  @media screen and (min-width: 992px) {
    font-size: 14px;
    padding: 15px;
  }
}

.table__cell--name {
  color: #b5b7c0;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;

  @media screen and (min-width: 992px) {
    font-size: 14px;
  }
}

.table__cell--status {
  text-align: center;
  white-space: nowrap;
  .btn {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    padding: 0;

    width: 55px;
    height: 20px;
    padding: 4px 12px;
    cursor: pointer;
  }

  .btn.active {
    color: #00b087;
    border-radius: 4px;
    border: 1px solid #00b087;
    background: rgba(22, 192, 152, 0.38);
  }

  .btn.inactive {
    color: #df0404;
    border-radius: 4px;
    border: 1px solid #df0404;
    background: #ffc5c5;
  }

  @media screen and (min-width: 992px) {
    .btn {
      font-size: 14px;

      width: 80px;
      height: 29px;
      padding: 4px 12px;
      cursor: pointer;
    }
  }
}

.wrapper__bottom-block {
  margin-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 992px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    margin-top: 32px;
    padding-bottom: 0;
  }
}

.wrapper__bottom-block__text {
  color: #b5b7c0;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;

  @media screen and (min-width: 992px) {
    font-size: 14px;
  }
}

/* Pagination */

.pagination {
  max-width: 200px;
  height: 20px;
  margin-top: 10px;

  @media screen and (min-width: 768px) {
    max-width: 271px;
    height: 24px;
    margin-top: 0;
  }
}

.pagination__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #eee;
  background: #f5f5f5;

  width: 20px;
  height: 19px;

  &:not(:last-child):not(:nth-child(5)) {
    margin-right: 6px;
  }

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background: #5932ea;

    .pagination__link {
      color: #fff;
    }

    .pagination__item__svg {
      --color1: #fff;
    }
  }

  @media screen and (min-width: 768px) {
    width: 25px;
    height: 24px;

    &:not(:last-child):not(:nth-child(5)) {
      margin-right: 3px;
    }
  }
}

.pagination__link {
  text-decoration: none;

  color: #404b52;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.12px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.pagination__link--dashed {
  margin-left: 9px;
  margin-right: 9px;

  @media screen and (min-width: 768px) {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.pagination__link--span {
  color: #000;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.12px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.pagination__item__svg {
  width: 6px;
  height: 10px;

  @media screen and (min-width: 768px) {
    width: 8px;
    height: 12px;
  }
}
