header.header
    .header--block
        .header__title
            svg.header__title__icon
                use(href="./images/icons.svg#icon-setting")
            .header__title__text
                h1.header__title__text--big Dashboard
                p.header__title__text--small v.01
          
        nav(role="navigation")
            ul.header-list
                li.header-list__item
                    .header-list__item--left
                        svg.header-list__svg
                            use(href="./images/icons.svg#icon-key-square")
                        a.header-list__link(href="#") Dashboard
                li.header-list__item
                    .header-list__item--left
                        svg.header-list__svg
                            use(href="./images/icons.svg#icon-d-square")
                        a.header-list__link(href="#") Product
                    svg.header-list__svg--right
                        use(href="./images/icons.svg#icon-chevron-right")
                li.header-list__item
                    .header-list__item--left
                        svg.header-list__svg
                            use(href="./images/icons.svg#icon-user-square")
                        a.header-list__link(href="#") Customers
                    svg.header-list__svg--right
                        use(href="./images/icons.svg#icon-chevron-right")
                li.header-list__item
                    .header-list__item--left
                        svg.header-list__svg
                            use(href="./images/icons.svg#icon-wallet-money")
                        a.header-list__link(href="#") Income
                    svg.header-list__svg--right
                        use(href="./images/icons.svg#icon-chevron-right")
                li.header-list__item
                    .header-list__item--left
                        svg.header-list__svg
                            use(href="./images/icons.svg#icon-discount-shape")
                        a.header-list__link(href="#") Promote
                    svg.header-list__svg--right
                        use(href="./images/icons.svg#icon-chevron-right")
                li.header-list__item
                    .header-list__item--left
                        svg.header-list__svg
                            use(href="./images/icons.svg#icon-message-question")
                        a.header-list__link(href="#") Help
                    svg.header-list__svg--right
                        use(href="./images/icons.svg#icon-chevron-right")
            button#toggleListButton.button 
                svg.header-list__svg--open
                    use(href="./images/icons.svg#icon-menu")            
            .navigation-mini 
                button#closeListButton.button(style="display: none;")
                    svg.header-list__svg--close
                        use(href="./images/icons.svg#icon-close")
                ul.header-list#listContainer
                    li.header-list__item
                        .header-list__item--left
                            svg.header-list__svg
                                use(href="./images/icons.svg#icon-key-square")
                            a.header-list__link(href="#") Dashboard
                    li.header-list__item
                        .header-list__item--left
                            svg.header-list__svg
                                use(href="./images/icons.svg#icon-d-square")
                            a.header-list__link(href="#") Product
                        svg.header-list__svg--right
                            use(href="./images/icons.svg#icon-chevron-right")
                    li.header-list__item
                        .header-list__item--left
                            svg.header-list__svg
                                use(href="./images/icons.svg#icon-user-square")
                            a.header-list__link(href="#") Customers
                        svg.header-list__svg--right
                            use(href="./images/icons.svg#icon-chevron-right")
                    li.header-list__item
                        .header-list__item--left
                            svg.header-list__svg
                                use(href="./images/icons.svg#icon-wallet-money")
                            a.header-list__link(href="#") Income
                        svg.header-list__svg--right
                            use(href="./images/icons.svg#icon-chevron-right")
                    li.header-list__item
                        .header-list__item--left
                            svg.header-list__svg
                                use(href="./images/icons.svg#icon-discount-shape")
                            a.header-list__link(href="#") Promote
                        svg.header-list__svg--right
                            use(href="./images/icons.svg#icon-chevron-right")
                    li.header-list__item
                        .header-list__item--left
                            svg.header-list__svg
                                use(href="./images/icons.svg#icon-message-question")
                            a.header-list__link(href="#") Help
                        svg.header-list__svg--right
                            use(href="./images/icons.svg#icon-chevron-right")
    .user
        .user__user-avatar
            img(src='./images/avatar.png', alt='User avatar')
        .user__user-data
            p.user__user-data--bold Evano
            p.user__user-data--small Project Manager